.boost_catalog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 107px 0px 136px 0px;
}

.boost_items {
    display: flex;
    padding: 35px 24px;
    justify-content: space-between;
    column-gap: 29px;
}

.boost_card {
    display: flex;
    flex-direction: column;
    
}

.boost_card h3 {
    padding-left:23px;
}



.boost_card h4 {
    padding:10px 0px;
    font-size: 30px;
line-height: 40px;
}


.boost_card img {
    max-width: 180px;
    max-height: 210px;
}

.boost_card .img-holder {
    width: 180px;
    height: 210px;
}

.boost_card p {
    max-width: 409px;
    height: 300px;
    overflow: hidden;
    padding-bottom: 35px;
}

.boost_card a {
    text-decoration: underline;
    font-size: 20px;
    line-height: 30px;
}