.case-studies {
    background-color:#EEEEEE;
    
}


.case-studies_left h5 {
    font-size: 40px;
    line-height: 50px;
    font-family: GraphikLCG-Semibold;
    margin: 0;
    padding-bottom: 28px;
}

.case-studies_left-and-right {
    display: flex;
    justify-content: space-between;
    padding:92px 0px;
    border-bottom: 1px solid black;
}

.case-studies_left {
    max-width: 370px;
    display: flex;
    flex-direction: column;
}

.case-studies_left .mini-logo {
    max-width: 80px;
    height: auto;
    padding:30px 0px 11px 0px;

}

.case-studies_left .start {
    font-size: 20px;
    line-height: 30px;
    font-family: GraphikLCG-Semibold;
    padding-top: 15px;
}

.case-studies_right {
    display: flex;
    justify-content: space-between;
    max-width: 850px;
    
}

.case-studies_card ul {
    display: block;
}

h6 {
    font-size: 20px;
    line-height: 25px;
    font-family: GraphikLCG-Semibold;
    margin: 0;
    padding-bottom: 21px;
}

.case-studies_card li {
    padding-bottom: 15px;
    max-width: 185px;
}

.case-studies_card {
    padding: 0 17px;
}

