.examples_catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 71px 0px 47px 0px;
}

.examples_all-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 40px 93px 40px;
    margin: 0 -55px;
    row-gap: 77px;
}

.examples_cards img {
    height: 120px;
    width: 180px;
}

.examples {
    background-color: #FFF8E4;
}

h3 {
    font-family: GraphikLCG-Semibold;
    font-size: 50px;
    line-height: 60px;
    
}

.examples_cards {

    padding: 0 55px;
}

h4 {
    font-family: GraphikLCG-Semibold;
    font-size: 25px;
    line-height: 35px;
    margin:22px 0px 20px 0px;
}

.examples_cards p {
    font-size: 18px;
    line-height: 25px;
    max-height: 120px;
    overflow: hidden;
    text-align: center;
}

.examples_cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.examples_cards .card a {
    text-decoration: underline;
}