.footer-total {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}

.footer-left {
    max-width: 411px;
    display: flex;

    align-items: center;
}

.footer-right {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    
}

footer {
    background-color: #EEEEEE;
}

.footer-total p {
    font-size: 12px;
    line-height: 15px;
    padding-left: 20px;
    max-width: 301px;
}