.footer-total {
    display: flex;
    justify-content: space-between;
    padding: 48px 0px;
}

footer img {
    max-width: 100%;
    width: auto;
    padding-left: 20px;
}

.footer-left {
    max-width: 411px;
    display: flex;

    align-items: center;
}

.footer-right {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding-right: 100px;
}

footer {
    background-color: #EEEEEE;
}

.footer-total p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding-left: 10px;
    max-width: 301px;
}






@media (max-width:1024px) {
 
}


@media (max-width:768px) {
    .footer-total {
        padding: 20px 0px;
    }

    .footer-right {
        padding-right: 20px;
    }

    footer img {
        padding-left: 10px;
    }
}

@media (max-width:425px) {
   
}