.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 0;
}

.header__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 592px;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color:black;  

}

a:hover {
    color:#FF6336;
}

.navigation__list {
    padding-left:51px;
    background-color: #fff;
}

.navigation__buttons {
    display: flex;
    justify-content: space-between;   
    width: 252px;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: GraphikLCG-Semibold;
    font-size: 1.6rem;
    line-height: 4.5rem;
}

header button {
    width: 120px;
    height: 45px;
}


.white {
    background-color: #fff;
    
}

.white:hover {
    background-color: #FF6336;
    color:white;
}

.orange {
    background-color: #FF6336;
    color:#fff;
}

.orange:hover {
    background-color: #fff;
    color:#FF6336;
}



.localization button {
    width: 160px;
    height: 60px;
}

.localization__buttons {
    display: flex;
    justify-content: space-between;  
    width:330px;
    padding-bottom: 25px;
    line-height: 6rem;
}

.localization {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 136px 23px 170px 23px;
}

.localization__total-text {
    width: 552px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


h1 {
    font-family: GraphikLCG-Semibold;
    font-size: 6.5rem;
    line-height: 7rem;
    margin: 0px;
    overflow: hidden;
    padding-bottom: 51px;
}

.text {
    font-size: 2.5rem;
    line-height: 3.5rem;
    max-width: 471px;
    max-height: 200px;
    overflow: hidden;
    padding-bottom: 48px;
}

.logo:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

nav {
    border-bottom: 1px solid  #E5E5E5;;
}


.navigation__list a {
    font-size: 1.5rem;
line-height: 2rem;
}

.localization__total-text .small-text {
    font-size: 1.5rem;
line-height: 2.5rem;
}


.icons {
    display: none;
}

.icons i {
    font-size: 30px;
    color:#FF6336;
    padding-top: 5px;
    
}


header {
    position: relative;
}

.navigation__list.active {
    position: absolute;
    display: block;
    right: 0;
    top:80%;
}

.navigation__list.active {
    border: 1px solid #FF6336;
    box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
    
}

.navigation__list.active li {
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 15px;
    
}

.navigation__list.active a {

    font-size: 11px;
}



@media (max-width:1024px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .localization__buttons {
        width: auto;
    }

    .localization {
        padding: 100px 23px 100px 23px;
    }

    ul {
        width: auto;
    }
    li {
        padding-right: 10px;
    }

    .navigation__list {
        padding-left: 15px;
    }

    header button {
        width: 110px;
        height: 30px;
    }
}




@media (max-width:768px) {
   .navigation__list {
    display: none;
   }

   .icons {
    display: block;
    }
    .localization {
        padding: 40px 15px 40px 16px;
        column-gap:10px;
    }

    h1 {
        font-size: 5rem;
    line-height: 5rem;
    padding-bottom: 20px;
    }

    .localization button {
        height: auto;
        
    }

    .text {
        padding-bottom: 20px;
    }


}

@media (max-width:425px) {
    .navigation__list.active {
        right: 0;
        top:80%;
        left: 0;
        bottom: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 20px;
    }

    .navigation__list.active a {
        font-size: 4rem;
    }

    body.active {
        overflow: hidden;
    }

    .navigation__buttons {
        width: 150px;
        column-gap: 10px;
    }

    h1 {
        font-size: 4rem;
    }

    .localization {
        flex-direction: column;
        padding: 15px 0px ;
    }

    .localization__buttons {
    justify-content: center;
    column-gap: 10px;
}
    .localization__total-text {
        width: auto;
        text-align: center;
    }

    .localization__buttons .orange {
        width: 75px;
        
    }

      .localization__buttons .white {
        width: 75px;
        
    }

    .localization__image img {
        max-width: 200px;
    }



}