.preferred_loc {
    background-color: #FF9C7D;
}

.preferred_loc__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 106px;
}

h2 {
    margin:0;
    font-family: GraphikLCG-Semibold;
    font-size: 5rem;
    line-height: 6rem;
    
}

.preferred_loc__total h2 {
    width: 720px;
    text-align: center;
    padding: 106px 0px 70px 0px;
    transform: translateX(58px);
}

.preferred_loc__total ul {
    display: flex;
    justify-content: space-between;
    width: 94%;
}

.preferred_loc__total img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

img {
    width: 100%;
    height: auto;
 
}


.control__catalog {
    display: flex;
    flex-direction: column;
    padding:97px 20px;
    row-gap: 242px;
}

.control__2items {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;

}

.control__item {
    display: flex;
    flex-direction: column;

    max-width: 501px;
}

.control h2 {
    padding: 145px 0px 30px 0px;
}

.control__2items:nth-of-type(even) {
    flex-direction: row-reverse;
}

.control__2items:nth-of-type(even) .control__item {
    max-width: 520px;
}

p {
    font-size: 2rem;
    line-height: 3rem;
    max-height: 250px;
    overflow: hidden;
}

.control__item .start {
    font-family: GraphikLCG-Semibold;
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 30px;
}

.control__item a {
    text-decoration: underline;
}

.preferred_loc__total h3 {
    font-size: 6.5rem;
    line-height: 7.5rem;
    font-family: GraphikLCG-Semibold; 
    margin: 0;
    max-width: 784px;
    text-align: center;  
    padding:161px 0px 29px 0px;
}


.preferred_loc button {
    width: 160px;
    height: 60px;
}

.black {
    background-color: black;
    color:white
}

.black:hover {
    background-color: white;
    color:#FF9C7D;
}

.preferred_loc__total.second p {
    padding-bottom: 54px;
}

.preferred_loc__total.second {
    padding-bottom:161px;
}


.preferred_loc .second h3 {
    padding: 120px 0 27px 0;
}


@media (max-width:1024px) {
    .preferred_loc__total h2 {
        padding: 80px 0px 70px 0px;
        transform: none;
    }
    .control__catalog {

        padding: 97px 20px;
        row-gap: 140px;
    }

    .preferred_loc__total.second {
        padding-bottom: 100px;
    }

    .preferred_loc .second h3 {
        padding: 100px 0 27px 0;
    }

}


@media (max-width:768px) {
    .preferred_loc__total h2 {
        width: auto;
        padding: 40px 0px 40px 0px
    }

    .preferred_loc__total {
        padding-bottom: 40px;
    }
    .preferred_loc__total ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        width: 70%

    }

    .preferred_loc__total li {
        padding-bottom: 10px;
        width: 50%;
    }

    .preferred_loc__total li img {
        width: auto;
    }

    .control__catalog {

        padding: 50px 10px;
        row-gap: 50px;
    }

    .control h2 {
        padding: 0px 0px 30px 0px;
    }

    .preferred_loc__total.second {
        padding-bottom: 40px;
    }
    .preferred_loc .second h3 {
        padding: 40px 0 27px 0;
    }

    .preferred_loc__total.second p {
        padding-bottom: 15px;
    }
    .preferred_loc button {
        width: 140px;
        height: auto;
    }

}

@media (max-width:425px) {
    .preferred_loc__total h2 {
        width: auto;
        padding: 15px 0px;
        font-size: 4rem;
    }

    .preferred_loc__total {
        padding-bottom: 15px;
        
    }

    .preferred_loc__total img {
        max-width: 80px;
    }
    .control__catalog {

        padding: 20px 0px;
        row-gap: 20px;
    }

    .control h2 {
       font-size: 4rem;
       padding-bottom: 3px;
       line-height: 5rem;
    }

    .control .start {
        padding-top:5px
    }

    .control .control__2items {
        flex-direction: column;
        align-items: center;
    }

    .control .control__item {
        width: 100%;
        max-width: none;
    }

    .control__2items .w-50 img {
        height: auto;
        max-width: 200px;
    }

    .control__item {
        text-align: center;
        padding: 0px 20px;
    }

    .preferred_loc__total.second {
        padding-bottom: 10px;
    }
    .preferred_loc .second h3 {
        padding: 5px 0px;
        font-size: 4rem;
        max-width: 270px;
    }

    .preferred_loc__total.second p {
        padding-bottom: 15px;
    }
    .preferred_loc button {
        width: 100px;
        height: auto;
    }





}
 