.revolut {
    background-color: #C9E8F2;
}

.revolut_text-and-img {
    display: flex;
    justify-content: space-between;
   
}

.revolut_text {
    display: flex;
    flex-direction: column;
    max-width: 909px;
    justify-content: center;
    padding: 68px 0px 161px 23px;
}

.revolut_text img {
    max-width: 115px;
    height: auto;
    padding-top:7px;
}


.revolut_img {
    padding: 56px 18px 0px 20px;
}

.revolut_text .long {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 23px;
}

.revolut_text p {
font-size: 15px;
line-height: 25px;
}